
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<h2>ViewData Data is = @ViewData["Var1"]</h2>
<h2>ViewBag Data is = @ViewBag.Var2</h2>
<h2>TempData Data is = @TempData["Var3"]</h2>

@*<ul>
@{ 
    foreach (string i in (string[])TempData["GamesArray"])
    {
        <li>@i</li>
    }
}
</ul>*@

