
@{
    ViewBag.Title = "AboutUS";
}

<nav>
    <ul>
        <li>@Html.ActionLink("Home Page", "Index", "Home")</li>
        <li>>@Html.ActionLink("AboutUS Page", "AboutUS", "Home")</li>
        <li>>@Html.ActionLink("ContactUS Page", "ContactUs", "Home")</li>
    </ul>
</nav>

<h2>AboutUS</h2>

<p>This is AboutUs Page</p>
