
@{
    ViewBag.Title = "ContactUs";
}

<nav>
    <ul>
        <li>@Html.ActionLink("Home Page", "Index", "Home")</li>
        <li>>@Html.ActionLink("AboutUS Page", "AboutUS", "Home")</li>
        <li>>@Html.ActionLink("ContactUS Page", "ContactUs", "Home")</li>
    </ul>
</nav>

<h2>ContactUs</h2>

<p>This is ContactUs Page</p>

